@page "/toilets/{Id:int}"

@inject ICatScaleService CatScaleService

<style>
.toilet-graph {
    max-width: 100%;
}
</style>

<h3>Toilette</h3>

@if (_toilet is null)
{
    <p>Loading ...</p>
}
else
{
    <hr/>
    <div class="d-flex justify-content-between align-items-center mb-2">
        <div>Stammdaten:</div>

        <AuthorizeView>
            <Authorized>
                <div class="btn-group btn-group-sm">
                    @if (_editMode)
                    {
                        <button class="btn btn-sm btn-secondary" @onclick="@DiscardChanges">Verwerfen</button>
                        <button class="btn btn-sm btn-primary" @onclick="@SaveChanges">Speichern</button>
                    }
                    else
                    {
                        <button class="btn btn-sm btn-primary" @onclick="@Edit">Bearbeiten</button>
                    }
                </div>
            </Authorized>
        </AuthorizeView>
    </div>

    <div class="d-inline-flex w-100">
        <table class="table table-bordered table-hover m-0 align-middle">
            <tbody>
            <tr>
                <td class="col-3">Id</td>
                <td class="col-auto">@_toilet.Id</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>
                    @if (_editMode)
                    {
                        <input type="text" class="form-control" id="name-input" placeholder="Name" @bind-value="_editName">
                    }
                    else
                    {
                        @_toilet.Name
                    }
                </td>
            </tr>
            <tr>
                <td>Beschreibung</td>
                <td>
                    @if (_editMode)
                    {
                        <textarea class="form-control" rows="3" @bind="_editDescription"></textarea>
                    }
                    else
                    {
                        @_toilet.Description
                    }
                </td>
            </tr>
            <tr>
                <td>Typ</td>
                <td>asd</td>
            </tr>
            <tr>
                <td>Größe</td>
                <td>asd</td>
            </tr>
            <tr>
                <td>Bild</td>
                <td>asd</td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <div>
        <hr />
        <div>Messwerte (letzte 24h):</div>
        <img class="toilet-graph" src="@CatScaleService.GetCombinedToiletGraphUri(_toilet.Id, ToiletSensorValue.Humidity, ToiletSensorValue.Temperature)" alt=""/><br/>
        <img class="toilet-graph" src="@CatScaleService.GetCombinedToiletGraphUri(_toilet.Id, ToiletSensorValue.Humidity, ToiletSensorValue.Co2)" alt=""/><br/>
        <img class="toilet-graph" src="@CatScaleService.GetCombinedToiletGraphUri(_toilet.Id, ToiletSensorValue.Humidity, ToiletSensorValue.Pressure)" alt=""/><br/>
        <img class="toilet-graph" src="@CatScaleService.GetCombinedToiletGraphUri(_toilet.Id, ToiletSensorValue.Co2, ToiletSensorValue.Tvoc)" alt=""/><br/>
        <img class="toilet-graph" src="@CatScaleService.GetToiletGraphUri(_toilet.Id, ToiletSensorValue.Weight)" alt=""/><br/>
        <img class="toilet-graph" src="@CatScaleService.GetToiletGraphUri(_toilet.Id, ToiletSensorValue.RawWeight)" alt=""/><br/>
    </div>
}

@code {

    [Parameter]
    public int Id { get; set; }

    private ToiletDto? _toilet;

    private bool _editMode;
    private string? _editName;
    private string? _editDescription;

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        try
        {
            _toilet = await CatScaleService.GetToiletDetails(Id);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

    private void Edit()
    {
        if (_toilet is null) return;

        _editMode = true;
        _editName = _toilet.Name;
        _editDescription = _toilet.Description;
    }

    private void SaveChanges()
    {
    }

    private void DiscardChanges()
    {
        _editMode = false;
    }
}